
body {
  margin: 0;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E313E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0px;
  background: #fff;
  min-height: 100vh;
  width: 100%;
}


/* Elements */

a, a:visited {
  text-decoration: none;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}

.light {
  color: #E1F2FE;
}



/* Mobile Menu */

#mobile-menu {
  align-items: center;
  background-color: white;
  transform: translate3D(100%, 0, 0);
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 2000;
  overflow: hidden;
  position: fixed;
}

#mobile-menu.active {
  transition: transform 300ms;
  transform: translate3D(0, 0, 0);
}

.mobile-menu-header {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 16px;
}

.mobile-menu-close-button {
  flex: none;
  background-image: url("../images/icons/close.svg");
  background-size: cover;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 100;
}

.mobile-menu-content {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menuitems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.mobile-menuitem {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #3d4042;
  flex: 0 1 auto;
  cursor: pointer;
}


/* Header */

.header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;  
  padding: 16px 32px;
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(16px);
}

.header-contents {
  display: flex;
  width: 1440px;
  justify-content: center;
  align-items: stretch;  
}

.header .logo, .header menu-icon {
  flex: 0;
  width: 40px;
  height: 40px;
}

.header .menubar, .header .mobile-menubar {
  flex: 1;
  display: flex;
  padding-left: 32px;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
}

.header .mobile-menubar {
  display: none;
}


.header .dropdown-menu {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.header .dropdown-menu-title {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  padding: 4px 16px;
  border-radius: 16px;
}

.header .dropdown-menu-title:hover {
  /* box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); */
  cursor: pointer;
}

.header .dropdown-menu:hover .dropdown-content {display: block;}

.header .dropdown-content {
  display: none;
  position: absolute;
  left: -4px;
  top: 0;
  padding: 42px 0 0;
  z-index: 1;
}

.header .dropdown-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 160px;
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 8px 0;
}

.header .dropdown-icon-closed {
  background-image: url("../images/icons/chevron-down.svg");
  width: 20px;
  height: 20px;
  background-size: cover;
}

.header .dropdown-link {
  padding: 6px 20px;
  text-wrap: nowrap;
}

.header .dropdown-link:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.header a, .header a:visited {
  color: inherit;
}


/* Content */

.page {
  flex: 1;
}


/* Footer */

.footer {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;  
  padding: 16px 32px;
}

.footer-contents {
  display: flex;
  width: 1400px;
  padding: 48px 32px;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}

.footer .socials {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 0;
}

.footer .socials-title {
  font-size: 24px;
  padding-right: 8px;
}

.footer .social-icon {
  height: 20px;
}

.footer hr {
  box-sizing: border-box;
  width: 100%;
  background: #1E313E;
}

.footer .site-map {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  gap: 32px;
}

.footer .site-map-column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer .site-map-column:last-child {
  flex: 0;
}

.footer .logo-frame {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer .logo {
  flex: 0;
  width: 28px;
  height: 28px;
  filter: grayscale(100%);
}

.footer .logo-text {
  font-size: 24px;
  font-weight: 500;  
}

.footer .sitemap-title {
  font-size: 20px;
  font-weight: 500;
}

.footer .sitemap-links {
  color: #686666;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.footer .sitemap-links a {
  text-decoration: none;
  color: inherit;
}

.footer .sitemap-links a:visited {
  text-decoration: none;
  color: inherit;
}

.footer .sitemap-links a:hover {
  color: black;
  font-weight: bold;
}


/* Responsive */

@media screen and (max-width: 1464px) {
  .header-contents, .footer-contents {
    width: 1200px;
  }
}


@media screen and (max-width: 1264px) {
  .header-contents, .footer-contents {
    align-self: stretch;
  }
}

@media screen and (max-width: 800px) {
  .footer .site-map {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .header .menubar {
    display: none;
  }
  .header .mobile-menubar {
    display: flex;
  }
}



@media screen and (max-width: 1060px) {
  .footer-row {
    align-self: stretch;
    width: auto;
  }
}

/* Util classes */

.active {
  display: inherit;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 50%;
}

