
body {
  margin: 0;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1E313E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  display: top;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}


/* Elements */

a, a:visited {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}

p {
  margin: 0;
}

li {
  padding-bottom: 20px;
}

table {
  border: 2px solid var(--high-contrast, #1E313E);
  border-collapse: collapse;
  overflow-x: scroll;
}

th {
  margin: auto;
  text-align: center;
  align-content: center;
}

td, th {
  border: 1px solid var(--Disabled, #BEC9C7);
  padding: 4px 8px;
}

.table-container {
  overflow-x: scroll;
}

table .logo {
  width: auto;
  height: 36px;
  margin: auto;
  padding-top: 4px;
}

.light {
  color: #E1F2FE;
}

.section-title {
  color: #000;
  font-size: 40px;
  line-height: 46px; /* 115% */
}

.section-description {
  color: #686666;
}

.section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.section-paragraphs {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.centered-image {
  align-self: center;
  width: 640px;
  height: auto;
  box-sizing: border-box;
  max-width: 80%;
}

.code-block-image {
  box-sizing: border-box;
  max-width: 100%;
  width: 1024px;
}

/* Mobile Menu */

#mobile-menu {
  align-items: center;
  background-color: white;
  transform: translate3D(100%, 0, 0);
  color: #1E313E;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 3;
  overflow: hidden;
  position: fixed;
  box-shadow: 0px -2px 2px 1px rgba(0,0,0,0.2);
}

#mobile-menu.active {
  transition: transform 300ms;
  transform: translate3D(0, 0, 0);
  visibility: visible;
}

.mobile-menu-header {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 16px;
}

.mobile-menu-close-button {
  flex: none;
  background-image: url("../images/icons/close.svg");
  background-size: cover;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 100;
}

.mobile-menu-content {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.mobile-menuitems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.mobile-menu-heading {
  font-weight: 600;
  font-size: 22px;
  line-height: 42px;
  color: #3d4042;
  flex: 0 1 auto;
  padding-top: 24px;
}

.mobile-menu-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #3d4042;
  flex: 0 1 auto;
  cursor: pointer;
  padding-left: 16px;
}


/* Header */

.header {
  opacity: 0;
  animation: 1.5s ease-in-out 0.5s 1 slideInFromTop;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;  
  padding: 16px 32px;
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(16px)!important;
  -webkit-backdrop-filter: blur(16px)!important;
  z-index: 2;
}

.header-contents {
  display: flex;
  width: 1440px;
  justify-content: center;
  align-items: stretch;  
}

.header .logo, .header menu-icon {
  flex: 0;
  width: 40px;
  height: 40px;
}

.header .menubar, .header .mobile-menubar {
  flex: 1;
  display: flex;
  padding-left: 32px;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
}

.header .mobile-menubar {
  display: none;
}


.header .dropdown-menu {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.header .dropdown-menu-title {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  padding: 4px 16px;
  border-radius: 16px;
}

.header .dropdown-menu-title:hover {
  /* box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); */
  cursor: pointer;
}

.header .dropdown-menu:hover .dropdown-content {display: block;}

.header .dropdown-content {
  display: none;
  position: absolute;
  left: -4px;
  top: 0;
  padding: 42px 0 0;
  z-index: 1;
}

.header .dropdown-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 8px 0;
}

.header .dropdown-icon-closed {
  background-image: url("../images/icons/chevron-down.svg");
  width: 20px;
  height: 20px;
  background-size: cover;
}

.header .dropdown-link {
  padding: 6px 20px;
  text-wrap: nowrap;
}

.header .dropdown-link:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.header a, .header a:visited {
  color: inherit;
}


/* Content */

#page {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 76px;
  flex-direction: column;
  align-items: center;
  gap: 128px;
}

.button-row {
  display: flex;
  align-items: center;
  gap: 32px;
}

.cta-button-solid, .cta-button-hollow {
  flex: 0;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 22px;
  padding: 8px 16px;
}

.cta-button-solid {
  background: #00D0FF;
}

.cta-button-hollow {
  border: 2px solid #00D0FF;
}


/* Hero Section */

.hero-section {
  display: flex;
  width: 1400px;
  align-items: center;
  gap: 4%;
  box-sizing: border-box;
}

.hero-section .titles {
  opacity: 0;
  animation: 1.5s ease-in-out 0.5s 1 slideInFromLeft;
  animation-fill-mode: forwards;
  flex: 0 0 48%;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

.hero-section .title {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.hero-section .title .highlight {
  color: #00D0FF;
}

.hero-section .subtitle {
  color: #686666;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.hero-section .hero-image-frame {
  opacity: 0;
  animation: 2s ease-in-out 0.5s 1 slideInFromRight;
  animation-fill-mode: forwards;
  flex: 0 0 48%;
  max-width: 48%;
}

.hero-section .hero-image {
  width: 100%;
  height: auto;
}


/* Text Sections */

.full-width-section {
  display: flex;
  align-items: center;
  max-width: 1920px;
  gap: 10%;
}

.full-width-section .section-image {
  flex: 1 0 40%;
  max-width: 40%;
  height: auto;
}

.full-width-section .section-text {
  box-sizing: border-box;
  flex: 1 0 50%;
  display: flex;
  padding-right: 15%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  z-index: 1;
}


/* Features */

.feature-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.feature-dual-row {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.indent-with-feature {
  margin-left: 24px;
}

.feature-row, .slim-feature-row {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  max-width: 100%;
  height: 100%;
}

.feature, .slim-feature {
  max-width: 612px;
  display: flex;
  padding: 32px 32px 48px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
}

.feature:hover .feature-image {
  transform: scale(1.1);
}

.feature-text {
  flex: 1;
  display: flex;
  padding: 6px 0px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.feature-title {
  flex: 0;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.feature-icon {
  width: 48px;
  height: 48px;
  align-self: flex-start;
}

.feature-highlight-title {
  color: #1869C4;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  align-self: flex-start;
}

.feature-description {
  flex: 1;
  color: #4F6F86;
  text-align: center;
}

.feature-image {
  height: 300px;
  width: auto;
  transition: transform .8s;
}

.feature-image.large {
  width: 90%;
  box-sizing: border-box;
  height: auto;
}


/* Partners Section */

.partners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  gap: 48px;
  padding: 48px 0;
}

.partners-section .h-line {
  height: 1px;
  width: 100%;
}

.partners-section .partners-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.partners-section .partner-image {
  width: 200px;
  border-radius: 8px;
}


/* Page Width Sections */

.page-width-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  box-sizing: border-box;
  width: 100%;
  /* min-height: 600px; */
  max-width: 1400px;
  position: relative;
}

.page-width-section.block {
  display: block;
}

.page-width-section .section-image {
  position: absolute;
  height: 600px;
  overflow-x: hidden;
  z-index: 0;
}

.page-width-section .section-text {
  position: relative;
  float: right;
  box-sizing: border-box;
  width: 60%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  z-index: 1;
}

.page-width-section .section-text.left {
  float: left;
  padding-right: 0;
  padding-left: 5%;
}

.page-width-section .section-image.right {
  top: 0;
  right: 0;
  left: auto;
}


/* Governance Section */

.governance-section {
  display: flex;
  box-sizing: border-box;
  width: 1024px;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.governance-section .section-text {
  flex: 1;
  box-sizing: border-box;
  width: 60%;
  z-index: 1;
}

.governance-section .governance-image {
  flex: 1;
  width: 30%;
}


/* Learn Page Hero */

.hero-section .learn-hero-image-frame {
  flex: 0 0 48%;
  max-width: 48%;
  position: relative;
  opacity: 0;
  animation: 1s ease-in-out 0.5s 1 slideInFromRight;
  animation-fill-mode: forwards;
}

.hero-section .bubble1 {
  position: absolute;
  box-sizing: border-box;
  width: 10%;
  left: 14.5%;
  bottom: 55.5%;
  opacity: 0;
  animation: 1.5s ease-in-out 1s 1 slideInFromTop200, 7s ease-in-out 2.5s infinite float;
  animation-fill-mode: forwards;
}

.hero-section .bubble2 {
  position: absolute;
  box-sizing: border-box;
  width: 9%;
  left: 30.5%;
  bottom: 66%;
  opacity: 0;
  animation: 1.5s ease-in-out 1.2s 1 slideInFromTop200, 6s ease-in-out 2.7s infinite float;
  animation-fill-mode: forwards;
}

.hero-section .bubble3 {
  position: absolute;
  box-sizing: border-box;
  width: 15%;
  left: 58.1%;
  bottom: 42.2%;
  opacity: 0;
  animation: 1.5s ease-in-out 1.4s 1 slideInFromTop200, 5.5s ease-in-out 2.9s infinite float;
  animation-fill-mode: forwards;
}

.hero-section .bubble4 {
  position: absolute;
  box-sizing: border-box;
  width: 10%;
  left: 75.8%;
  bottom: 55.5%;
  opacity: 0;
  animation: 1.5s ease-in-out 1.6s 1 slideInFromTop200, 6.5s ease-in-out 3.1s infinite float;
  animation-fill-mode: forwards;
}


/* How It Works Page */

.quote {
  color: var(--mid-contrast, #686666);
  font-size: 32px;
  line-height: 42px;
}

/* Footer */

#footer {
  box-sizing: border-box;
  width: 100%;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;  
  padding: 16px 0;
}

.footer .footer-contents {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  max-width: 1400px;
  padding: 48px 0;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}

.footer .socials {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 0;
}

.footer .socials-title {
  font-size: 24px;
  padding-right: 8px;
}

.footer .social-icon {
  height: 20px;
}

.footer hr {
  box-sizing: border-box;
  width: 100%;
  background: #1E313E;
}

.footer .site-map {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  gap: 32px;
}

.footer .site-map-column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer .site-map-column:last-child {
  flex: 0;
}

.footer .logo-frame {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer .logo {
  flex: 0;
  width: 28px;
  height: 28px;
  filter: grayscale(100%);
}

.footer .logo-text {
  font-size: 24px;
  font-weight: 500;  
}

.footer .sitemap-title {
  font-size: 20px;
  font-weight: 500;
}

.footer .sitemap-links {
  color: #686666;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.footer .sitemap-links a {
  text-decoration: none;
  color: inherit;
}

.footer .sitemap-links a:visited {
  text-decoration: none;
  color: inherit;
}

.footer .sitemap-links a:hover {
  color: black;
  font-weight: bold;
}


/* Responsive */

@media screen and (max-width: 1512px) {
  .header .header-contents, .footer .footer-contents, .hero-section, .page-width-section {
    max-width: 1200px;
  }
}


@media screen and (max-width: 1312px) {
  .hero-section, .page-width-section, .footer {
    box-sizing: border-box;
    width: 100%;
    padding: 0 56px;
  }
  .full-width-section {
    gap: 0;
  }
  .full-width-section .section-text {
    flex: 1 0 60%;
  }
  .page-width-section .section-text {
    width: 60%;
  }
}

@media screen and (max-width: 1080px) {
  .section-title {
    font-size: 32px;
    line-height: 40px;
  }  
  .hero-section .button-row {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  .hero-section {
    gap: 16px;
  }
  .hero-section .title {
    font-size: 32px;
    line-height: 40px;
  }  
  .hero-section .subtitle {
    font-size: 22px;
    line-height: 30px;
  }
  .hero-section .button-row {
    flex-direction: row;
    gap: 16px;
  }
  .cta-button-hollow, .cta-button-solid {
    font-size: 18px;
    line-height: 18px;
    min-width: 120px;
  }
  .feature-dual-row {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
  }
  .feature-row {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
  }
  .feature-grid {
    padding-left: 0;
    padding-right: 0;
  }
  .feature {
    flex: 1 1 auto;
    max-width: 512px;
    width: auto;
    height: auto;
  }
  .governance-section {
    width: 100%;
    padding: 0 56px;
  }
}

@media screen and (max-width: 800px) {
  .hero-section {
    display: block;
    position: relative;
  }
  .hero-section .titles {
    flex: 1;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 15% 0 30% 0;
  }
  .hero-section .hero-image-frame, .hero-section .learn-hero-image-frame {
    position: absolute;
    top: 0;
    opacity: 30% !important;
    left: 20%;
    max-width: 100%;
    height: 100%;
  }
  .hero-section .hero-image {
    height: 100%;
    width: auto;
  }
  .footer .site-map {
    flex-direction: column;
  }
  .full-width-section .section-text, .page-width-section section-text {
    padding-right: 32px;
  }
  .page-width-section section-text.left {
    padding-left: 32px;
  }
  .governance-section {
    flex-direction: column-reverse;
    padding: 0 16px;
    gap: 16px;
  }
  .governance-section .section-text {
    width: 100%;
  }
  .governance-section .governance-image {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .hero-section, .page-width-section, .footer {
    padding: 0 32px;
  }
  .header .menubar {
    display: none;
  }
  .header .mobile-menubar {
    display: flex;
  }
  .full-width-section {
    display: block;
    position: relative;
    width: 100%;
  }
  .full-width-section .section-image {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    max-width: 100%;
    height: 100%;
  }
  .full-width-section .section-text {
    box-sizing: border-box;
    position: relative;
    width: 80%;
    margin-left: 20%;
  }
  .page-width-section .section-text, .page-width-section .section-text.left {
    width: 100%;
    padding: 0 16px;
  }
  .feature-dual-row {
    gap: 48px;
  }
  .indent-with-feature {
    margin-left: 0;
  }
  .slim-feature-row {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .slim-feature {
    flex: 1 1 auto;
    max-width: 512px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .feature-row {
    padding-left: 0;
    padding-right: 0;
  }
  .feature-image {
    width: 90%;
    box-sizing: border-box;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .hero-section, .page-width-section, .feature-grid, .footer, .header {
    padding-left: 16px;
    padding-right: 16px;
  }
}


/* Animations */

.animate {
  animation-fill-mode: forwards;
}

.slide-in-left-on-view {
  opacity: 0;
}

.slide-in-left-on-view.animation-active {
  animation: 1.5s ease-in-out 0s 1 slideInFromLeft;
}

.animation-active {
  opacity: 1;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop200 {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}


/* Util classes */

.active {
  display: inherit;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 50%;
}

.center {
  align-self: center;
  align-items: center;
  text-align: center;
}